.container {
  display: grid;
  justify-content: center;
}
.card-design {
  display: flex;
  justify-content: center;
}
.card {
  border: 1px solid black;
  padding: 2rem;
  width: 70rem;
  box-shadow: 0 0 5px 6px lightgrey;
  font-family: "Poppins", sans-serif;
  border: none;
  align-items: flex-start;
  margin: 2rem 0;
  font-size: 1rem;
  font-weight: 800;
  display: flex;
}
.url {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}
@media (max-width: 768px) {
  .container {
    display: grid;
    justify-content: center;
  }
  .card {
    border: 1px solid black;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 40rem;
    box-shadow: 1px 8px 6px -6px black;
    font-family: "Poppins", sans-serif;
    border: none;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem 0;
  }
  p::first-letter {
    border: 1px solid black;
    border: none;
    border-radius: 7rem;
    padding: 0.5rem;
    background-color: #f79862;
    text-transform: uppercase;
    margin-left: 2rem;
  }
  .author {
    display: flex;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
    align-items: initial;
  }
  .title {
    font-size: 10px;
    font-family: "Poppins", sans-serif;
  }
  .vertical_card {
    border-left: 3px solid orange;
    height: 5rem;
    padding: 5px;
  }
}
.load_more {
  padding: 1rem;
  font-family: "Poppins", "sans-serif";
  text-align: center;
  font-size: 15px;
  display: grid;
  justify-content: center;
  font-weight: 800;
  color: black;
  cursor: pointer;
  margin: 3rem auto;
  border: none;
}
.load_more:hover {
  font-size: 18px;
}
.author_ {
  border: 1px solid black;
  border: none;
  border-radius: 5rem;
  padding: 6px;
  background-color: #f79862;
  text-transform: uppercase;
  margin: 0 1rem;
}
.author {
  display: flex;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  align-items: initial;
}
.title {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}
.vertical_card {
  border-left: 3px solid orange;
  height: 5rem;
  padding: 10px;
}
.card_cover {
  padding: 4rem 0;
}
.card_cover > h2 {
  text-align: center;
  padding: 1rem;
  font-size: 40px;
  text-decoration: underline;
}
