@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-shadow: 0px 0px 20px 0px blue;
  overflow: hidden;
  top: 0;
  background: #a9a9a9;
  color: white;
}
.head {
  padding: 1.2rem 0;
}
.head h1 {
  font-family: "Yeon Sung", cursive;
}
.tag {
  color: rgba(255, 255, 0, 0.918);
  font-size: 40px;
}
