.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 3rem;
}
.footer_middle {
  display: flex;
  justify-content: space-between;
}
.icons {
  margin-left: 1rem;
  margin-right: 1rem;
  color: white;
  text-decoration: none;
  border: 1px solid black;
  border: none;
  border-radius: 4rem;
  padding: 0.3rem;
  cursor: pointer;
}
.face {
  background-color: #3b5998;
}
.twit {
  background-color: #1da1f2;
}
.insta {
  background-color: #e1306c;
}

@media (max-width: 768px) {
  .footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer_middle {
    padding: 1rem;
  }
}
