@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Yeon+Sung&display=swap");

* {
  margin: 0;
  padding: 0;
}
.backicon {
  border: 1px solid black;
  color: white;
  border: none;
  border-radius: 4rem;
  padding: 0.3rem;
  background-color: #333333;
  cursor: pointer;
  width: 25px;
}
.landing_page {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1588773846628-13fce0a32105?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80");
  height: 100vh;
  background-attachment: fixed;
}
/* .landing_page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
} */
.centered_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered_title > h1 {
  color: white;
  font-size: 150px;
}
.date {
  color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
}
